*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fc9c5f;
    position: relative;
    overflow: hidden;

}
.user_img{
    display: flex;
    display: flex;
    align-items: center;
    margin-left: 64px;
}
.icon{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.anh{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 16px;
}
.h2{
    width: 100vw;
    height: 78px;
    background-color: #f67b2b;
    position: absolute;
    left: 0;
    bottom: -45px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
}
#content{
    padding: 32px 64px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}
#left{
    width: 70%;
}
.left_top{
    margin-bottom: 20px;
}
.left_top > p{
    display: inline-block;
    padding: 8px;
    border-radius: 16px;
    background-color: #ffffff;
}

.left_top > p:nth-child(1)
{
    background-color: #f67b2b;
    color: #ffffff;
    margin-right: 8px;
    margin-left: 16px;
}
.left_top > p:hover{
    background-color: #f67b2b;
    color: #ffffff;
}
.left_center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.left_center_menu{
    width: 32%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 1px rgb(172, 166, 166);
}
.menu_img1{
    width: 100%;
    height: 180px;
    background-image: url(anh/c++.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_img2{
    width: 100%;
    height: 180px;
    background-image: url(anh/c++.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_img3{
    width: 100%;
    height: 180px;
    background-image: url(anh/ôp.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_img4{
    width: 100%;
    height: 180px;
    background-image: url(anh/web.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_img5{
    width: 100%;
    height: 180px;
    background-image: url(anh/psd.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_img6{
    width: 100%;
    height: 180px;
    background-image: url(anh/python.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.menu_content{
    background-color: #fff;
    padding: 8px;
}
.right{
   width: 30%; 
}
.posts{
    background-color: #f67b2b;
    color: #ffffff;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: -20px;
    font-size: 20px;
    text-indent: 16px;
}
.right_content{
    margin-top: 30px;
}
.right_content_1{
    padding: 8px 0 16px;
    text-indent: 16px;
    margin-top: 13px;
    background-color: #f7eaea;
    line-height: 30px;
    border-radius: 16px;
    box-shadow: 2px 2px gray, -1px -1px rgba(0 0 0/8%);
}
#footer{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #f67b2b;
    color: #fff;
    line-height: 50px;
}
#footer a{
    text-decoration: none;
}
