*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.header_top{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}
.cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 7%;
}
.cart_icon{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3399;
    border-radius: 50%;
}
.header_bottom{
    width: 100%;
    height: 40%;
    background-color: #FF3399;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 15px rgb(117, 116, 116);
}
/* .header_bottom_left{
    flex-basis: 50%;
} */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.menu li{
    list-style-type: none;
    /* width: 20%; */
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    padding: 0px 20px;
    width: 100%;
    color: white;
}
.menu li a:hover{
    background-color: #FFCCFF;
    color: #FF3399;
    transition: 0.7s;
    transform: scale(1.2);
}
.header_bottom_right{
    margin-right: 5%;
    display: flex;
}
.header_bottom_right input{
    height: 2rem;
    width: 15rem;
    outline: 0;
}
.search-btn{
    width: 2.3rem;
    height: 2rem;
    background-color: #FFCCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.content{
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: 1%;
}
.left{
    display: flex;
    flex-direction: column;
}
.left_top{
    width: 20rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc3;
    padding: 0px 5px;
}
.left_menu{
    width: 20rem;
    
}
.left_menu li{
    list-style-type: none;
    background-color: #FFCCFF;
    border-top: 0.5px solid black;
}
.left_menu li a{
    text-decoration: none;
    display: inline-block;
    line-height: 8rem;
    width: 100%;
    color: black;
    padding-left: 2rem;
}
.left_menu li a:hover{
    background-color: rgb(178, 167, 167);
}
.menucha{
    position: relative;
}
.menucon{
    position: absolute;
    top: 0;
    left: 100%;
    width: 15rem;
    display: none;
    margin-left: 2px;
    box-shadow: 2px 3px 15px rgb(117, 116, 116);
}
.menucha:hover .menucon{
    display: block;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 35rem;
    /* background-color: #FFCCFF; */
    margin-left: 5px;

}
.right_items_top{
    width: 100%;
    height: 45%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right_items_bottom{
    width: 100%;
    height: 45%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    width: 19%;
    height: 100%;
    background-color: cornflowerblue;
}
.item_pic{
    width: 100%;
    height: 70%;
    background-color: darkkhaki;
}
.item_pic img{
    width: 100%;
    height: 100%;
}

