*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 150px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.header_top{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(103, 143, 227);
}
.header_top_left{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.header_top_right{
    flex-basis: 60%;
}
.header_top_right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_top_right ul li{
    list-style-type: none;
}
.header_top_right ul li a{
    text-decoration: none;
    color: white;
}
.header_top_right ul li a:hover{
    color: red;
}
.header_bottom{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.logo{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 100%;
}
.header_bottom_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    padding: 3px 10px 3px 3px;
    border-radius: 20px;
}
.header_bottom_search input{
    width: 20rem;
    height: 30px;
    outline: 0;
    border-radius: 20px 0px 0px 20px;
}
.call{
    flex-direction: 20%;
    display: flex;
    align-items: center;
    color: rgb(130, 0, 0);
}
.call_text{
    display: flex;
    flex-direction: column;
}
.sdt{
    color: black;
}
.sdt:hover{
    color: red;
}
.shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.number{
    width: 20px;
    border-radius: 4px;
    background-color: rgb(226, 166, 13);
}
.content{
    display: flex;
    width: 100%;
    height: 80%;
}
/* .content_left{
    width: 20%;
    height: 100%;
} */
.menu{
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.menu li{
    list-style-type: none;
    background-color: rgb(177, 175, 175);
    border-bottom: 1px solid black;
}
.menu li a{
    text-decoration: none;
    display: inline-block;
    line-height: 69px;
    width: 100%;
    color: black;
}
.menu li a:hover{
    background-color: rgb(248, 248, 103);
}
.cha{
    position: relative;
}
.con{
    position: absolute;
    top: 0;
    left: 100%;
    width: 15rem;
    display: none;
}
.cha:hover .con{
    display: block;
}
.content_right{
    width: 80%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.content_right_top{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48%;
    /* background-color: rgb(231, 142, 142); */
    /* border: 1px solid black; */
}
.content_right_top_items{
    width: 24%;
    height: 100%;
    /* background-color: yellow; */
    border: 1px solid black;
}
.content_right_bottom{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48%;
    /* background-color: rgb(231, 142, 142); */
    /* border: 1px solid black; */
}
.content_right_bottom_items{
    width: 24%;
    height: 100%;
    /* background-color: yellow; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    border: 1px solid black;
}
.picture{
    width: 100%;
    height: 60%;
}
.picture img{
    width: 100%;
    height: 100%;
}
.price{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price_text{
    display: flex;
    flex-direction: column;
}
.name_item{
    width: 100%;
    height: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    display: block;
    background-color: red;
    border-radius: 5px;
}
.lock{
    width: 15%;
    border: 1px solid black;
}
